# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# IDE
.idea/
.vscode/

# Temporary files
*.log

# Test outputs
outputs/*
uploads/*
static/uploads/*
static/outputs/*

# Keep folders
!outputs/.gitkeep
!uploads/.gitkeep
!static/uploads/.gitkeep
!static/outputs/.gitkeep